<div class="p-3 bg-dark text-center text-white fuenteTituloNegocio">
  <a class="" href="">  
    {{nombreNegocio.toUpperCase()}}</a>
</div>
<nav class="navbar navbar-expand-lg navbar-light fondoClaro">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let categoria of categorias">
          <a 
          class="nav-link active" 
          aria-current="page" 
          [routerLink]="'busqueda/'+categoria"
          >{{categoria}}</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Vestidos" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>