<div *ngIf="mostrar" class="container">
  <div class="row">
    <div class="col-12">
      <p class="text-center my-2">{{nombreProyecto}}</p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-11">
      <p class="my-2">{{descripcionProyecto}}</p>
    </div>
    <div class="col-1">
      <img src="assets/img/UPIITA.png" class="img-fluid d-none d-md-block minimoAncho50">
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a href={{urlDescarga}}>Descarga</a>
    </div>
  </div>
</div>
